
body {
    margin: 0;
    padding: 0;
    /* Fuente de Tailwind CSS para consistencia */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    line-height: 1.5;
}


.calendar-day-box {
    min-height: 128px; /* Altura mínima para cada día */
    transition: background-color 0.1s;
}

/
.calendar-day-box .overflow-y-auto {
    
    scrollbar-width: thin; 
    scrollbar-color: #a7a7a7 transparent; 
}


.calendar-day-box .overflow-y-auto::-webkit-scrollbar {
    width: 6px;
}

.calendar-day-box .overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
}

.calendar-day-box .overflow-y-auto::-webkit-scrollbar-track {
    background: transparent;
}




.calendar-day-box:not(.bg-gray-50):hover {
    background-color: #f3f4f6; /* bg-gray-100 */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}
